/*---------------------------------------------------------------- 
Reset - published from http://meyerweb.com/eric/tools/css/reset/ 
----------------------------------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    font-family: biryani, sans-serif;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-------------------------------------------------------------------------------------
                                     GLOBAL
-------------------------------------------------------------------------------------*/

/* BASE */

html {
    background-color: #fff;
    font-size: 16px;
}
body {
    font-family: 'Biryani', Helvetica, Arial, sans-serif;
    font-size: 62.5%;
    color: #181616;
}

img {
    max-width: 100%;
}

/*-------------------------------------------------------------------------------------
                                TYPOGRAPHY
-------------------------------------------------------------------------------------*/

h1 {
    font-family: "Faster One", "Open Sans", 'Biryani', sans-serif;
    font-size: 6em; /* 60px/10px */
}

h1 em {
    font-family: "Open Sans", 'Biryani', sans-serif;
    display: block;
    font-size: 0.35em; /* 21px/60px */
    color: #3e373e;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;   
}

h2 {
    font-family: "Open Sans", 'Biryani', sans-serif;
    font-size: 2.5em; /* 25px/10px */
    color: #181616;
    font-weight: 700;
}

h3 {
    font-family: 'Biryani';
    font-size: 1.6em; /* 16px/10px */
    color: #181616;
    font-weight: 700;
}

a {
    text-decoration: none;
    font-family: 'Biryani';
}

/* -- Utilities -- */

.group:after, .gi:after {
    clear: both;
    display: block;
    content: " ";
}

.sidebar {
    clear: both;
}

.social {
    clear: both;
}

/*--------------------------------------------------------------------------------------
                                          LAYOUT
--------------------------------------------------------------------------------------*/

.site {
    font-size: 1em; /* 10px/10px */
    margin: 1.5em auto;
    max-width: 130em;
}              
.header {
    position: relative;
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: 1px solid #3e373e;
}     

/* LOGO */

.logo {
    float: left;
    text-align: center;
}       

.banner {
    width: 8%;
    height: 8%;
    position: absolute;
    left: 50em;
    top: 5em;
    display: block;
    font-size: 0.85555em;
    text-align: left;
    font-weight: 700;
}            

/* NAVIGATION */

nav {
    float: right;
    margin: 6em 10em 0 9.9em;
}

nav ul li {
    display: inline;
    font-size: 1.4em;
    padding-left: 4em;
}

nav ul li a {
    color: #181616;
    font-weight: 700;
    transition: 0.2s ease-in-out;
}

nav ul li a:hover, nav ul li a:focus, nav ul li.active a {
    color: hsla(360, 82%, 49%, 1);
    font-weight: 700;
}

/* Modal */

.modal {
    background-color: #fff;
    border-radius: 0.4em;
    box-shadow: 0.4em 0.4em 0.6em rgba(0, 0, 0, 0.8);
    left: 50%;
    opacity: 0;
    position: absolute;
    transform: translate(-50%, 0);
    transition: 0.35s ease-in-out;
    visibility: hidden;
    width: 50em;
    z-index: 2;
}

.modal-media {
    position: relative;
}

.modal-media-title {
    bottom: 1em;
    font-size: 2.8em;
    left: 1em;
    position: absolute;
}

.modal-close {
    background: transparent;
    border: none;
    cursor: pointer;
    font-family: 'Biryani';
    font-weight: 700;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 1em;
    right: 9999em;
}

.modal-content {
    padding: 1em;
}

.modal-content p {
    font-size: 1.2em;
    padding: 1em 0;
    font-weight: 400;
    line-height: 1.3em;
}

.modal-content ul {
    text-align: center;
}

.modal-content li {
    display: inline-block;
    font-size: 1.4em;
    padding-right: 3em;
}

.modal-content a {
    color: #181616;
    font-family: "Open Sans", 'Biryani', sans-serif;
    font-weight: 700;
    transition: 0.2s ease-in-out;    
}

.modal-content a:hover {
    color: hsla(360, 82%, 49%, 1);    
}

.modal-overlay {
    background: hsla(0, 0%, 11%, 0.85);
    bottom: 0;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    transition: 0.35s ease-in-out;
    top: 0;
    visibility: hidden;
    z-index: 1;
}

.is-visible {
    opacity: 1;
    visibility: visible;
}

/* MAIN */        

section.content {
    max-height: max-content;
    margin: 0 auto;
    width: 90%;
}                                        

section.content p {
    font-size: 1.2em;
    padding: 0.3555555em 0;
    font-weight: 400;
    line-height: 1.3em;
}

section.content p em {
    font-weight: 700;
    font-size: 1.083333333333333em; /* 13px/12px */
}

section.content .gi img {
    display: block;
    padding: 1em;
    width: 65.5%;
}
    

/* SHARED ATTRIBUTES IN LIST */

.content h2 {
    text-align: center;
    padding: 0.3em;
}

.console .game-image, .pc .game-image {
    height: 12em;
    position: relative;
}

.console .game-image a, .pc .game-image a {
    color: #fff;
    font-size: 1.6em;
    text-align: center;
    padding: 3px 0;
    width: 100%;
    background: hsla(0, 0%, 11%, 0.85);
    display: block;
    position: absolute;
    bottom: 0;
    margin: auto;
}


.console .game-image a:hover, .console .game-image a:focus, 
.pc .game-image a:hover, .pc .game-image a:focus {
    background: hsla(360, 100%, 44%, 0.60);
    transition: 0.35s ease-in-out;
}

/* CONSOLE LIST */

.console-list {
    float: left;    
    border: 1px solid #3e373e;
    height: 64em; /* 625px/10px */
    width: 30%;
    box-shadow: 2px 0 2px #181616;
    -moz-box-shadow: 2px 0 2px #181616;
    -webkit-box-shadow: 2px 0 2px #181616;
    position: relative;
    left: 0;
}

.game-image#last {
    background: url(images/Last.jpg) no-repeat;
    background-size: 100% 100%;
}

.game-image#grand {
    background: url(images/Grand.jpg) no-repeat;
    background-size: 100% 100%;
}

.game-image#tomb {
    background: url(images/Tomb.jpg) no-repeat;
    background-size: 100% 100%;
}

.game-image#destiny {
    background: url(images/Destiny.jpg) no-repeat;
    background-size: 100% 100%;
    font-size: 0.9em;
    height: 13.35em;
}

.game-image#halo {
    background: url(images/Halo.jpg) no-repeat;
    background-size: 100% 100%;
    font-size: 0.9em;
    height: 13.35em;
}

/* PC LIST */

.pc-list {
    float: right;    
    border: 1px solid #3e373e;
    height: 64em; /* 625px/10px */
    width: 30%;
    box-shadow: 2px 0 2px #181616;
    -moz-box-shadow: 2px 0 2px #181616;
    -webkit-box-shadow: 2px 0 2px #181616;
    position: relative;
    right: 32.5%;

}

.game-image#dark {
    background: url(images/Dark.jpg) no-repeat;
    background-size: 100% 100%;
}

.game-image#xcom2 {
    background: url(images/Xcom2.jpg) no-repeat;
    background-size: 100% 100%;
}

.game-image#undertale {
    background: url(images/Undertale.jpg) no-repeat;
    background-size: 100% 100%;
}

.game-image#batman {
    background: url(images/Batman.jpg) no-repeat;
    background-size: 100% 100%;
}

.game-image#civilization {
    background: url(images/Civilization.jpg) no-repeat;
    background-size: 100% 100%;
}

/* SIDEBAR */

.sidebar {
    position: absolute;
    right: 10%;
    width: 17.5%;
}

.sidebar .more {
    background: rgba(171, 168, 166, 0.52);    
    border: 1px solid rgba(182, 185, 186);
    box-shadow: 2px 2px 2px #181616;
    -moz-box-shadow: 2px 2px 2px #181616;
    -webkit-box-shadow: 2px 2px 2px #181616;
    padding-bottom: 1em;
}

.sidebar h3 {
    text-align: center;
    padding: 1em 0 0.5em 0;
}

.sidebar .more ul li a, .sidebar .more ul li a:active {
    font-size: 1.2em;
    font-weight: 700;
    display: block;
    color: #181616;
    background: rgba(121, 117, 114, 0.52);
    transition: 0.35s ease-in-out;
    padding: 1em;
    margin: 0.5em 1em;
}

.sidebar .more ul li a:hover, .sidebar .more ul li a:focus {
    background: #181616;
    color: #fff;
}

/* SOCIAL SIDEBAR */

.social h3 {
    text-align: center;
    padding: 1.75em 0 0.5em; 
}

.social ul {
    text-align: center;
}

.social ul li {
    display: inline-block;
    height: 5em;
    width: 5em;
    padding: 1em;    
}

.social ul li:last-child {
    padding-right: 0;
}

.social ul li a {
    display: inline-block;
    border-radius: 0.5em;
    transition: 0.2s ease-in-out;
    height: 100%;
    width:100%;
}

.social ul li a:hover, .social ul li a:focus {
    transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    box-shadow: 2px 2px 2px #181616;
}                                         

/*-------------------------------------------------------------------------------------------------
                                            FOOTER
-------------------------------------------------------------------------------------------------*/

.footer {
    background: #181616;
}

.footer .contact {
    color: #fff;
    font-weight: 700;
    font-size: 1.2em;
    padding: 1em;
    margin-top: 4em;
    line-height: 1.6em;
}

.footer a {
    color: #fff;
    text-decoration: underline;
}

/*-------------------------------------------------------------------------------------------------
MEDIA QUERIES
-------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 1356px) {
    .logo {
        padding: 0 3em;
    }
    .banner {
        position: static;
        width: inherit;
        height: inherit;
        padding: 1em;
        text-align: center;
    }
}
    nav {
        margin: 4.5em 10em 0 0;
    }

@media screen and (max-width: 1190px) {
    .social ul li {
        height: 4.5em;
        width: 4.5em;
    }
    .social h3 {
        padding: 1.5em 0 0 0.5em;
    }
}

@media screen and (max-width: 1115px) {
    nav ul li {
        font-size: 1.2em;
    }
    
    .social ul li {
        height: 4em;
        width: 4em;
    }
}

@media screen and (max-width: 1050px){
    h1 {
        font-size: 5em;
    }
    .banner {
        position: static;
        width: inherit;
        height: inherit;
        padding: 1em;
    }
    nav {
        margin: 4.5em 10em 0 0;
    }
    .social ul li {
        height: 3.5em;
        width: 3.5em;
        padding:  1em 0.75em;
    }
}

@media screen and (max-width: 975px) {
    .logo {
        float: none;
        font-size: 1.3333333em;
        text-align: center;
    }
    .banner {
        text-align: center;
        padding-right: 3.75em;
    }
    
    nav {
        float: none;
        text-align: center;
        margin: 3em 8em 1em 0;
    }
    nav ul li {
        font-size: 1.6em;
    }
    .social ul li {
        height: 3em;
        width: 3em;
        padding: 0.5em;
    }
}

@media screen and (max-width: 768px) {
    .modal {
        width: 100%;
    }
    .modal-content ul {
        padding: 1em;
    }
    .modal-close {
    background: transparent;
    border: none;
    cursor: pointer;
    font-family: 'Biryani';
    font-weight: 700;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 1em;
    right: 1em;
}

}

@media screen and (max-width: 730px) {
    section.content .gi img {
        width: 90%;
        padding: 1em 0 0 0;
        margin: 0 auto;
    }
    .console-list, .pc-list {
        float: none;
        position: static;
        width: 90%;
        height: min-content;
        margin:  3em auto;
    }
    .console-list {
        margin-top: 1.5em;
    }
    .console .game-image, .pc .game-image, .game-image#destiny, .game-image#halo {
        height: 25em;
    }
    nav ul li {
        font-size: 1.3em;
    }
    .sidebar {
        position: static;
        width: 82%;
        margin: 3em auto;
    }
    .social ul li {
        height: 5em;
        width: 5em;
    }
}


@media screen and (max-width: 625px) {
    nav {
        margin-top: 2em;
    }
    nav ul li {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 590px) {
    .console .game-image, .pc .game-image, .game-image#destiny, .game-image#halo {
        height: 20em;    
    }
    nav ul li {
    font-size: 1.1em;
    }
    .modal-media-title {
        font-size: 2.4em;
    }
}

@media screen and (max-width: 540px) {
    .logo {
        font-size: 1em;
    }
    nav {
        margin: 1em auto;
    }
    nav ul li {
        font-size: 1.1em;
        padding-left: 2em;
    }
}
    
@media screen and (max-width: 480px) {
    .console .game-image, .pc .game-image, .game-image#destiny, .game-image#halo {
        height: 15em;        
}    

@media screen and (max-width: 440px) {
    .modal-media-title {
        font-size: 2.0em;
    }
}

@media screen and (max-width: 402px) {
    .logo {
        font-size: 0.9em;
    }
    nav ul li {
        font-size: 1em;
    }
}   
@media screen and (max-width: 370px) {
    .logo {
        font-size: 0.79em;
    }
    .modal-media-title {
        font-size: 1.7em;
    }    
}


@media screen and (max-width: 320px) {
    .logo {
        font-size: 0.745em;
    }
    .console .game-image, .pc .game-image, .game-image#destiny, .game-image#halo {
        height: 12em;        
    }
    nav ul li {
    font-size: 0.9em;
    }
}

